.sixth-container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1rem 2rem;
  .wrap-all {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .find-out {
      display: flex;
      justify-content: center;
      width: 100%;
      flex-wrap: wrap;
      > h1 {
        font-size: 40px;
        color: #038c33;
        line-height: 55.96px;
      }
    }
    .authentic {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      > p {
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        color: #6c757d;
      }
    }
  }
  .rect {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .rectangle {
      margin-bottom: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      background: url('../assets/video\ thumbnail.png');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
@media screen and (min-width: 920px) {
  .wrap-all {
    display: flex;
    .find-out {
      display: flex;
      justify-content: center;
      width: 100%;
      flex-wrap: wrap;
      > h1 {
        font-size: 40px;
        color: #038c33;
        line-height: 55.96px;
      }
    }
    .authentic {
      display: flex;
      justify-content: center;
      width: 100%;
      flex-wrap: wrap;
      > p {
        padding: 1rem 2rem;
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        color: #6c757d;
      }
    }
  }
  .rect {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 574px;
    .rectangle {
      margin-bottom: 71px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 62rem;
      height: 36rem;
      background: url('../assets/video\ thumbnail.png');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
